<a href="https://colab.research.google.com/github/rahulvansh66/woc4.0-ml-sentiment-analysis-RahulVansh/blob/main/npy_pandas_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
pd.set_option("display.max_rows", 5)

In [ ]:
path = 'melb_data.csv'
data = np.genfromtxt( path, delimiter= ',')
data.shape

(13581, 22)

In [ ]:
 df = pd.read_csv(path)
 #print(df.shape, df.info)
 df.dtypes
 df.describe()

              Rooms         Price  ...    Longtitude  Propertycount
count  13580.000000  1.358000e+04  ...  13580.000000   13580.000000
mean       2.937997  1.075684e+06  ...    144.995216    7454.417378
...             ...           ...  ...           ...            ...
75%        3.000000  1.330000e+06  ...    145.058305   10331.000000
max       10.000000  9.000000e+06  ...    145.526350   21650.000000

[8 rows x 13 columns]

In [ ]:
#get int val from first col
x = df.iloc[:,0]
x = [word.split("_") for word in x]
x = [int(id[1]) for id in x]
x = pd.Series(x)
x.head(3)

0    1
1    2
2    3
dtype: int64

In [ ]:
df = df.set_index(x)

In [ ]:
#interpolate will fill nan val with middle value between previous and next point
df_afterAddingMean_inplaceofNaN = df.interpolate()

#drop row with null entry
df_nonNull_Rows = df.dropna()