In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import re 
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/trip-advisor-hotel-reviews/tripadvisor_hotel_reviews.csv

In [2]:
ipF = "../input/trip-advisor-hotel-reviews/tripadvisor_hotel_reviews.csv"
df = pd.read_csv(ipF)
df.head(3)

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3

In [3]:
#Convert ‘Rating’ column of the dataframe to 0s (negative), 1s (neutral) and 2s (positive)

#tmp.iloc[1,1]
df = df.dropna()
df2 = df.copy()

'''
# with loop
for i in range(len(x)):
    a = df2.Rating.iloc[i]
    if(a == 1 or a == 2):
        a = 0
    elif(a == 3):
        a = 1
    else:
        a = 2 
    df2.Rating.iloc[i] = a
'''

#without loop
def ratein3(a):
    if(a == 1 or a == 2):
        a = 0
    elif(a == 3):
        a = 1
    else:
        a = 2 
    return a

df2.Rating = df2.Rating.map(ratein3)
df2.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       2
1  ok nothing special charge diamond member hilto...       0
2  nice rooms not 4* experience hotel monaco seat...       1
3  unique, great stay, wonderful time hotel monac...       2
4  great stay great stay, went seahawk game aweso...       2

In [4]:
def my_F(x):
    # x will be perticuler review in string 
    x = x.lower()
    x = re.sub("[^0-9a-zA-Z]+", "1", x) # substitute all the non alphabetical characters with spaace
    x = re.sub(r'http\S+', '', x) # remove all the hyperlinks if present in the text
    x = re.sub(' +', ' ', x) # to remove consecutive spaces 
    return x
    
df2.Review = df2.Review.map(my_F)

df2.head(2)

                                              Review  Rating
0  nice1hotel1expensive1parking1got1good1deal1sta...       2
1  ok1nothing1special1charge1diamond1member1hilto...       0